<a href="https://colab.research.google.com/github/KitoPlayer/ON_LAB4_domowe/blob/main/ON_LAB3_domowe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Zadanie 1
Dany jest słownik `student={'imie':'Jan', 'nazwisko':'kowalski','wiek':25, 'wzrost':188, 'waga':80, 'miasto':'Toruń'}`.

* Wypisz jego elementy w postaci "klucz -> wartość".
* Zmień 'wzrost' na 182.
* Dodaj klucz 'wynik matury' z dowolną wartością.
* Usuń klucz (i wartość) 'miasto'.

In [ ]:
student={'imie':'Jan', 'nazwisko':'kowalski','wiek':25, 'wzrost':188, 'waga':80, 'miasto':'Toruń'}

In [ ]:
for i in student.items():
    print (i[0], '->',i[1])

imie -> Jan
nazwisko -> kowalski
wiek -> 25
wzrost -> 188
waga -> 80
miasto -> Toruń

In [ ]:
student['wzrost'] = 182

print(student)

{'imie': 'Jan', 'nazwisko': 'kowalski', 'wiek': 25, 'wzrost': 182, 'waga': 80, 'miasto': 'Toruń'}

In [ ]:
student['wynik matury'] = 90
print(student)

{'imie': 'Jan', 'nazwisko': 'kowalski', 'wiek': 25, 'wzrost': 182, 'waga': 80, 'miasto': 'Toruń', 'wynik matury': 90}

In [ ]:
del student['miasto']
print(student)

{'imie': 'Jan', 'nazwisko': 'kowalski', 'wiek': 25, 'wzrost': 182, 'waga': 80, 'wynik matury': 90}

####Zadanie 2
Dane są dwie listy równej długości

```python
klucze = ['klucz1', 'klucz2', 'inny klucz', 'test']
wartosci = [1,2,5,1]
```

Utwórz w sposób zautomatyzowany (nie ręcznie) słownik, który kolejnym kluczom przypisze kolejne wartości.

In [ ]:
klucze=['klucz1','klucz2','innyklucz','test']
wartosci=[1,2,5,1]

slownik = dict(zip(klucze, wartosci))

print(slownik)

{'klucz1': 1, 'klucz2': 2, 'innyklucz': 5, 'test': 1}

#### Zadanie 3
Napisz funkcję obliczającą $n$-ty wyraz ciągu zadanego rekurencyjnie
1. $a_0=1$, $a_{k+1}=2a_k$ dla $k\geq 0$
2. $b_0=0$, $b_1=1$, $b_{k+2}=b_{k+1}+b_k$ dla $k\geq 0$

In [ ]:
def ciag1(n):
    a0 = 1 

    for i in range(n):
        a0 *= 2 

    return a0

print(ciag1(5))

print(ciag1(6))

32
64

In [ ]:
def ciag2(n):
    b0, b1 = 0, 1 

    if n == 0:
        return b0

    for i in range(1, n):
        b1, b0 = b1 + b0, b1 

    return b1

print(ciag2(2))
print(ciag2(3))

1
2

# Sympy

In [ ]:
import sympy as sym

#### Zadanie 4
Napisz funkcję `pochodna(funkcja,punkt)`, która oblicza z definicji pochodną danej funkcji w punkcie. Korzystając ze swojej funkcji oblicz:

* pochodną funkcji $e^{x^2}$ w punkcie $1$,
* pochodną funkcji $x \cdot \ln\left(\sqrt(x) \right)$ w punkcie $1$.

Porównaj wyniki do tych uzyskanych za pomocą metody `diff`.

In [ ]:
x=symbol('x')

## Zadanie 5
a) Napisz funkcję obliczającą wartość wielomianu interpolacyjnego Lagrange'a w zadanym punkcie. Funkcja powinna przyjmować następujące argumenty:

* $X$ - tablicę wartości $x_i$,
* $Y$ - tablicę wartości $y_i$,
* $x$ - punkt, w którym liczymy wartość wielomianu.

b) Dodaj opcjonalny argument do powyższej funkcji, który pozwoli wyświetlić wzór interpolacyjny Lagrange'a w postaci symbolicznej.

c) Sporządź wykres otrzymanego wielomianu na podstawie symbolicznego wzoru z punktu b).

d) Wybierz dwie funkcje: wielomian stopnia 5 i inną funkcję niebędącą wielomianem. Sporządź ich aproksymacje za pomocą 4 wybranych punktów. Porównaj wykresy oryginalnych funkcji i ich przybliżeń. Sformułuj wnioski.